body {
    display: flex;
    justify-content: center;
}

#calc-container {
    display: grid;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    border-width: 8px;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "display display display display"
        "clear-btn clear-btn delete-btn divide-btn"
        "btn-7 btn-8 btn-9 multiply-btn"
        "btn-4 btn-5 btn-6 subtract-btn"
        "btn-1 btn-2 btn-3 add-btn"
        "decimal-btn btn-0 equals-btn equals-btn";
}

button {
    border-radius: 50%;
    border-style: none;
    margin: 5px;
    font-size: 30px;
    background-color: rgb(78, 77, 77);
    color: white;
}

.operation-button {
    background-color: orange;
    color: white;
    font-weight: bold;
}

#calc-display {
    grid-area: display;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 60px;
    margin-right: 10px;
}

#clear-button {
    grid-area: clear-btn;
    border-radius: 20px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

#divide-button {
    grid-area: divide-btn;
}

#multiply-button {
    grid-area: multiply-btn;
}

#subtract-button {
    grid-area: subtract-btn;
}

#add-button {
    grid-area: add-btn;
}

#decimal-button {
    grid-area: decimal-btn;
}

#equals-button {
    grid-area: equals-btn;
    border-radius: 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
}

#button-0 {
    grid-area: btn-0;
}

#button-1 {
    grid-area: btn-1;
}

#button-2 {
    grid-area: btn-2;
}

#button-3 {
    grid-area: btn-3;
}

#button-4 {
    grid-area: btn-4;
}

#button-5 {
    grid-area: btn-5;
}

#button-6 {
    grid-area: btn-6;
}

#button-7 {
    grid-area: btn-7;
}

#button-8 {
    grid-area: btn-8;
}

#button-9 {
    grid-area: btn-9;
}

#delete-button {
    grid-area: delete-btn;
    border-radius: 20px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}